#wwi
{
   background-color:#868686 !important;
   
}
main
{
    background-color: #0B0B0B;
    padding-bottom: 50px;
    padding-top: 40px;
}
footer
{
    background-color: #4A4A4A;
   
}
.div3
{
    color:white;
    margin: 0 auto;
}
.div4
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.div6
{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 15px;
   
}
.class
{
    color: white;
    
}
.div5
{
    margin-top: -20px;
    
}